---
import sunColour from '../assets/sun-colour.svg';
---
<div class="background-container">
    <div class="sun-wrapper">
        <img src={sunColour.src} alt="" class="sun-background" />
    </div>
</div>

<style>
    .background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        z-index: 0;
        background: linear-gradient(180deg, #FFE1FE 0%,  #FF6B57 100%);
    }

    .sun-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .sun-background {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: auto;
    }

    @media (prefers-reduced-motion: reduce) {
        .background-container * {
            animation: none !important;
            transition: none !important;
        }
    }


</style>
